.animatedFirstCircle{
    animation-name:smart-animate-2;
    animation-timing-function: easy-in-out;
    animation-duration: 750ms;
}
.animatedSecondCircle{
    animation-name:smart-animate-3;
    animation-timing-function: easy-in-out; 
    animation-duration: 750ms;
}
.animatedFirstCircleReverse{
    animation-name:smart-animate;
    animation-timing-function: easy-in-out;
    animation-duration: 750ms;
}
.animatedSecondCircleReverse{
    animation-name:smart-animate-1;
    animation-timing-function: easy-in-out; 
    animation-duration: 750ms;
}

@keyframes smart-animate{
    0% {
        left:5px;
        top:5px;
    }
    100%{
        background-color:##fefce8;
        left:37.5px;
        top:5px;
    }   
}
@keyframes smart-animate-1{
    0% {
        width:2px;
        height:2px;
        left:3px;
        top:12px;
    }
    100%{
        background-color:##2a3613;
        width:14px;
        height:14px;
        left:35px;
        top:6px;
    }   
}

@keyframes smart-animate-2{
    0% {
        left:37.5px;
    }
    100%{
        background-color:#fefce8;
        left:5px;
    }   
}
@keyframes smart-animate-3{
    0% {
        width:14px;
        height:14px;
        left:35px;
        top:6px;
    }
    100%{
        background-color:#8F88FF;
        width:2px;
        height:2px;
        left:3px;
        top:12px;
    }   
}

