:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Playfair Display, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #0A0A14;
  background-color: #F4F4F4;
  max-width: 1440px;
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
